node_modules
/examples/node_modules/
/examples/dist/
/dist/
/.vscode/
.DS_Store
*.code-workspace
/src/unused/
bindings/svelte/public/

# Icons
public/css/font_awesome
public/css/ionicons
public/css/material-design-iconic-font
