node_modules
/examples/node_modules/
/examples/dist/
/src/unused/
/dist/
/.vscode/
bindings/svelte/public/
.DS_Store
*.code-workspace
pnpm-lock.yaml

# Icons
public/css/font_awesome
public/css/ionicons
public/css/material-design-iconic-font
